/* about */



.about {
      
    background-image: url(../images/aboutus.backgroundPic.jpg);
    background-size: 100% 140%; 
    background-attachment:fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 1900px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}

.about h2 {
    
    margin-top: 80px;
    color: white;
    font-family: Lucida Handwriting;
    font-size: 70px;
        

}


.about h4 {
    color: white; 
    margin-top: 5px;
    margin-left: -120px;
    margin-right: 120px;
    margin-bottom: 80px;
    width: 1500px;
    font-size: 20px;
    
    font-family: Lucida Handwriting;
}

.about h6{
    text-align: left;
    font-size: 20px;
}



.about h5{
    font-size:25px;
}




.about p {
    line-height: 1.9; 
    margin-bottom: 30px; 
    text-align: left;
    font-size: 17px;
}



.about .container h2:last-of-type { 
    margin-left: 80px;  
}

.about ul{
    text-align: left;
}


.block1 {
    border-radius: 20px;
    color: black;
    font-weight: 500;
    margin-left: -140px;
    background-color: white;
    opacity: .8;
    width: 850px;
    padding: 30px 40px;
    text-align: center;
    position: relative;
    top: 50px;
    
}



.block2 {
    border-radius: 20px;
    color: black;
    font-weight: 500;
    margin-left: 400px; 
    margin-top: 100px;
    background-color: white;
    opacity: 0.8;
    width: 850px;
    padding: 30px 40px;
    text-align: center;
    position: relative;
    top: 50px;
    
}



.block3 {
    border-radius: 20px;
    color: black;
    font-weight: 500;
    margin-left: -140px;
    margin-top: 100px;
    background-color: white;
    opacity: 0.8;
    width: 850px;
    padding: 30px 40px;
    text-align: center;
    position: relative;
    top: 50px;
}












 