.contact {
    padding: 30px 0 70px;
    position: relative;
    margin-top: 80px;
}

.contact .container > h2 {
    font-size: 45px;
    margin-bottom: 90px;
}

.contact .col-6 h2 {
    font-size: 55px;
    width: 70%;
    float: right
}

.contact .contact-form {
    background-color: rgba(212,5,1,.8);
    padding: 52px;
    border: 1px solid #000;
    position: relative;
    left: 111px;
}

.contact form input, .contact form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.contact form textarea {
    resize: none;
    height: 100px;
}

.contact form input[type="submit"] {
    width: 120px;
    height: 40px;
    background-color: #ffcc33;
    border: none;
    margin-bottom: 0;
}

.contact > div:last-of-type {
    z-index: -1;
    position: absolute;
    height: 570px;
    width: 680px;
    left: 0;
    bottom: 0px;
    background-image: url(../imgs/pic1.jpg);
    background-size: cover;
}

.contact .row > .col-6:last-of-type {
    position: relative
}

.contact h2 + img {
    position: absolute;
    height: 200px;
    width: 200px;
    right: -120px;
    z-index: -3;
}